*{
    box-sizing: border-box;
    transition: all .8s;
}

a{
    text-decoration: none;
}

@media screen and (max-width:901px) and (min-width:600px){
    .container{
        margin: 0px;
        display: contents;
        /* padding-top: 20px; */
    }
    .container .align-items-start {
        padding: 0px 7px;
    }
    .online-training-container{
        padding-top: 20px;
        padding-bottom: 75px;
    }
    .container .online-training {
        padding: 10px;
    }
    .container .online-training ul li{
        font-size: 11px;
        line-height: 18px;
    }
    .training-from-home-container .online-training{
        width: 50%;
    }
    .gym-food-container .row .online-training ul{
        padding: 0px;
    }
    .gym-food-container .row .online-training ul li{
        padding: 1px;
        padding-left: 3px;
        font-size: 10px;
        line-height: 19px;
    }
    .vip-package-title{
        display: none;
    }
}
@media screen and (max-width:600px) {
    [class*="col-"]{
        float: left;
        width: 100%;
    }
    .static-loading .loading-text{
        font-size: 25px;
    }
    div.static-loading img{
        width: 40px;
        margin-right: 2%;
    }
    .online-training-container{
        padding: 0px 10px;
    }
    .online-training-container .online-training ul li,
    .gym-food-container .online-training .package ul li  {
        font-size: 15px;
    }
    .online-training-container .online-training {
        margin-bottom: 15px;
    }
    .online-training-container .online-training-title{
        margin-top: 15px;
    }
    .online-training-container .online-training  .package{
        padding: 15px;
    }
    .gym-promo .gym-title{
        right: 6%;
        top: 220px;
    }
    .gym-promo .gym-title2{
        right: 14%;
        top: 300px;
        padding: 10px 23px;
    }
    .col-12 .gym-promo {
        height: 430px;
    }
    .align-items-start{
        display: block;
    }
    .row .online-training{
        margin: 0px;
        margin-bottom: 15px;
    }
    .online-training button{
        margin:0px;
    }
    .col-12.VIP-training-Course{
        justify-content: center;
    }
    .vip-package-title .vip-text{
        display: none;
    }
    .gym-food-container .online-training .package ul li {
        font-size: 15px;
        text-shadow: 0px 0px 5px black;
    }
    .contact-us-container .contact-us{
        height: 400px;
        margin-top: 40px;
    }
    .sponsor .online-training .package a img {
        height: 150px;
    }
}
@media screen and (max-width:769px) {
    .online-training-container .container{
        padding: 0px;
        margin: 0px;
        display: contents;
    }
    .vip-package-title{
        display: none;
    }
    .VIP-training-Course .vip-package {
        width: 100%;
        position: relative;
        z-index: 2;
        background: #0000001f;
    }
}
@media screen and (max-width:475px) {
    .VIP-training-Course{
        height: 490px;
    }
    .VIP-training-Course .vip-package {
        width: 265px;
        position: absolute;
        z-index: 2;
        top: 25px;
        left: calc(50% - 130px);
    }
    .VIP-training-Course .col img{
        position: absolute;
        height: 470px;
        filter: brightness(0.6);
        top: -30px;
        width: 80%;
        left: 10%;
    }
}



/* ----------------------------------------- static loading ----------------------------------- */
.static-loading{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-text{
    font-size: 30px;
    color: #0675d5;
    padding-top: 10px;
}
.static-loading img{
    width: 70px;
    border-radius: 50%;
    margin-right: .7%;
    animation-name: loadingSpin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
}
/* ----------------------------------------- static whatsApp ----------------------------------- */
.static-whatsApp{
    position: fixed;
    bottom: 5px;
    right: 14px;
    z-index: 4;
}
.static-whatsApp .bi-whatsapp{
    font-size: 31px;
    color: green;
    background-color: #fdfdfd;
    padding: 7px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.bi-whatsapp:hover{
    box-shadow: 0px 0px 35px white;
}

/* --------------------------------------- header --------------------------------------- */
body{
    overflow-x: hidden;
}
.fixed{
    text-align: end;
}
.navbar-brand{
    font-family: 'Rakkas', cursive;
    font-size: 22px;
    text-transform: capitalize;
    word-spacing: 4px;
}
.nav-link {
    font-family: 'El Messiri', sans-serif;
    font-size: 12px;
    padding: 10px;
    margin-left: 1px;
}
.navbar-collapse{
    flex-grow: 0;
}
.active,
.nav-link:hover{
    background-color: brown;
    border-radius: 3px;
}
button.navbar-toggler{
    margin-bottom: 7px;
}
/* -------------------------------------- gym-promo --------------------------------------- */
.gym-promo{
    position: relative;
    z-index: 2;
    height: 670px;
}
.gym-poster{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.gym-title,
.gym-title2{
    position: absolute;
    color: white;
    top: 330px;
    right: 11%;
    font-size: 4.5vw;
    text-shadow: 0px 0px 15px black;
    background-color: #00000091;
    padding: 10px 35px;
    border-radius: 10px;
    padding-bottom: 15px;
}
.gym-title2{
    top: 455px;
    font-size: 2.6vw;
    right: 16.5%;
}
/* -------------------------------------- online-gym -------------------------------------- */
.container{
    padding-top: 50px;
    padding-bottom: 120px;
}
.online-training-container{
    background-color:#F7F7F7;
}
.online-training{
    padding: 10px;
}
.online-training .package{
    position: relative;
    font-family: 'Work Sans', sans-serif;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px whitesmoke;
}
.online-training .package:hover{
    box-shadow: 0px 0px 5px #b5b5b5;
    transform: translate(5px,-5px);
    transform: translateY(-5px);
}
.online-training-title{
    text-align: center;
    padding: 25px;
    margin-top: 0px;
    font-size: 19px;
    font-weight: 800;
    background-color: #999898;
    border-radius: 0px 40px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-transform: capitalize;
}
.online-training-title:hover,
.online-training button:hover{
    background-color: #000000b5;
    color: #f8f9fa;
    box-shadow: 0px 0px 15px #a3a3a3;
}
.online-training img{
    width: 100%;
    height: 230px;
    float: left;
    border-radius: 8px;
    position: relative;
    margin-bottom: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.col-sm-5.online-training .package img{
    height: 320px;
}
.stand-alone img{
    height: 320px;
}
.online-training .duration{
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}
.online-training button{
    width: 100%;
    padding: 11px;
    border: none;
    box-shadow: 0px 0px 5px #c7c7c7;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    color: #4e4e4e;
    background: #d1d1d1;
    border-radius: 5px;
    font-family: 'Lemonada', cursive;
}
.online-training ul{
    list-style: none;
    padding: 10px;
}
.online-training ul li{
    font-size: 12px;
    color: #121212c7;
    text-align: left;
    padding-left: 6%;
    line-height: 22px;
    font-weight: 600;
    line-height: 25px;
}
/* ----------- VIP training Course --------- */
.VIP-training-Course{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.VIP-training-Course .vip-package{
        width: 265px;
        margin-right: 1%;
}
.VIP-training-Course img{
    height: 490px;
    width: 100%;
    filter: brightness(0.9);
}
.vip-text{
    color: white;
    text-align: center;
    font-size: 45px;
    margin-left: 10px;
    text-shadow: 0px 0px 32px orange;
}
.VIP-training-Course .duration{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #ffc800;
    text-shadow: 0px 0px 25px;
    background-color: #00000017;
    margin: 15px;
}
.VIP-training-Course ul{
    list-style: none;
    padding: 5px;
}
.VIP-training-Course ul li{
    color: white;
    font-size: 17px;
    line-height: 35px;
    padding-left: 10px;
}
.VIP-training-Course button{
    cursor: pointer;
    background-color: darkorange;
    border: none;
    margin: 15px auto;
    padding: 12.5px 15px;
    border-radius: 8px;
    font-weight: 700;
    text-transform: capitalize;
    width: 90%;
    min-width: 100px;
    margin-left: 5%;
    font-size: 13px;
}
/* ------------ Contest Prep ------------ */
.Contest-Prep-title{
    margin: 10px auto;
    width: fit-content;
}
/* -------------------------------------- training-from-home -------------------------------------- */
.training-from-home-container{
    background-color: white;
}
.training-from-home-title{
    background-color: #951414eb;
    width: fit-content;
    font-family: cursive;
    margin: 20px auto;
}
.training-from-home-title:hover{
    background: none;
    border: 1px solid #9f0000;
    color: #9f0000;
}
.training-from-home-container .package button{
    background-color: #951414eb;
    color: white;
}
.training-from-home-container .package button:hover{
    color: #4e4e4e;
    background: #d1d1d1;
}
.online-training-container .online-training .package{
    box-shadow: 0px 0px 5px #ededed;
}
.online-training-container .online-training .package:hover{
    box-shadow: 0px 0px 15px #b9b9b9;
}
/* ------------------------------------------  gym-food -------------------------------------- */
.gym-food-container{
    background-color: #00000017;
    background-image: linear-gradient(100deg , #ededed  ,#00000017);
}
.gym-food-title{
    background-color: #4c4b4b;
    color: white;
    margin: 30px auto;
    padding: 15px 40px;
    font-weight: 700;
    text-transform: capitalize;
    width: 96%;
    margin-left: 2%;
}
.gym-food-title:hover{
    background-color: whitesmoke;
    color: #000000bf;
}
.gym-food-container .package{
    box-shadow: 0px 0px 5px white;
    background-color: #2c2c2c;
}
.gym-food-container .online-training ul{
    padding: 2px;
}
.gym-food-container .online-training ul li{
    padding-left: 0px;
    font-size: 11px;
    line-height: 22px;
}
.gym-food-container .package:hover{
    box-shadow: 0px 0px 25px white;
}
.gym-food-container .package button:hover,
.new-packages-container .online-training .package button:hover{
    color: white;
    background: black;
}
.gym-food-container .package .duration,
.gym-food-container ul li{
    color: #fffffff7;
}

/* --------------------------------------  program-without-follow ------------------------------ */
.program-without-follow{
    background-color: white;
}
.program-without-follow-title{
    margin: 20px;
    width: fit-content;
    margin: 20px auto;
}

.program-without-follow .online-training img{
    height: 270px;
    border-radius: 8px;
    float: none;
}
.program-without-follow .online-training img:hover{
    box-shadow: 0px 0px 15px gray;
    transform: translateY(-5px);
}
/* ----------------------------------------- sponsor ----------------------------------------- */
.sponsor{
    padding-top: 50px;
    padding-bottom: 100px;
}
.sponsor .online-training .package{
    min-height: 400px;
    display: flex;
    align-items: center;
}
.sponsor .online-training .package img{
    height: 220px;
}
.sponsor .online-training .package .online-training-title{
    color: #970384;
}
.sponsor .online-training .package a{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #970384;
}
/* ---------------------------------------- new packages -------------------------------------- */
.new-packages-container{
    background-color: #00000017;
}
.new-packages-container .online-training .package{
    background-color: rgba(245, 245, 245, 0.934);
}

/* ------------------------------- contact-us ---------------------------------- */
.contact-us-container{
    background-color: #00000017;
}
.contact-us{
    position: relative;
    height: 500px;
    width: 75%;
    margin-left: 12.5%;
}
.contact-us-img{
    position: absolute;
    z-index: -1;
    height: 90%;
    width: 100%;
    border-radius: 50px;
}
.contact-us .contact-text{
    padding: 30px;
    padding-top: 96px;
    padding-left: 9.5%;
    font-size: 27px;
    color: aliceblue;
    font-weight: 600;
}
.contact-us .contact-text:hover {
    color: #1b9599;
    text-shadow: 0px 0px 5px white;
}
p.whats{
    padding-top: 0;
    padding-left: 13%;
}
.bi-whatsapp{
    font-size: 50px;
    color: green;
    background-color: #fdfdfd;
    padding: 5px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
/* -------------------------------------- Footer -------------------------------------- */
.Footer{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #000000d1;
    color: white;
    margin: 0;
    font-weight: 400;
}
.Footer ul{
    list-style: none;
}


/* -------------------------------------- Footer -------------------------------------- */
@keyframes loadingSpin {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(361deg);
    }
}



























